<!--<h1>しゅみぺーじです</h1>
<p>Find me in app/views/home/top.html.erb</p>
    -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>もちの近況報告</title>
     
  </head>

  <body>
       
  </body>

</html>
