<html>
  <body>
      <header class="header">
           <%= react_component("App") %>
       </header>


      <footer>
          <a href="https://twitter.com/mochopuyon?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @mochopuyon</a>

          <p class="mail">mail:mochopuyo@yahoo.co.jp</p>
          <div class="login"><%= link_to'ログイン','/home/login'%></div>
      </footer>
  </body>
</html>
