body{
    background-color: #FFFFFF;
    margin: 0 auto;
}

/*.header-contents-wrapper{

}*/

.wallpaper{
  left: 90px;
  position: relative;
}


.title img{
  background-color: #ffd5ea;
  background-image:url('/images/mochimochi.png');
  width:100%;
}

.wallpaper img{
background-image:url('/images/header.png');
width:80%;
}

ul {
  background-color: #ffd5ea;
  margin-top: -6px;
  margin-bottom: 0px;
  padding: 10px 10px 40px 10px;
  border-bottom: medium solid #444444;
}


ul li {
  font-size: 20px;
  float: left;
  vertical-align: middle;
  list-style: none;
  width: calc(100%/6);
}

ul li a{
  display: block;
  color: #808080;
	text-align: center;
	text-decoration: none;
  border-right:1px solid #cccccc;
}

ul li a:hover{
color: rgba(0, 0, 0, 0.3);
}

footer{
    width: 100%;
    background-color:#ffd5ea;

}
.mail {
text-align: center;
}

.twitter-timeline{
  /*padding:0px 0px 0px 140px !important;*/
  position: relative !important;
  width:30% !important;
  left: 90px;
}

.login a{
  display: block;
  text-align: right;
  color: #808080;
  text-decoration: none;
}

.LoginView{
  text-align: center;
}
