body{
    background-color: #C0C0C0;

}

.header-contents-wrapper{
  background-color: #FFCCCC;
  text-align: center;
}
.wallpaper{
background: image-url('header.png');
}
ul li {
  display: inline-table;
  padding: 26px 10px 20px 10px;
}

footer{
    background-color:#FFCCCC;
    text-align: center;
}
